:root {
  font-family: Microsoft YaHei, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  font-size: 10px;
  overflow: hidden;
  position: relative;
}

// 设置导航栏时间字体样式
@import url("./fontFamily/font.scss");
@import url("./mars3d.scss");
